.box {
  width: 74px;
  height: 29px;
  background-image: url("../../assets//header/logOut.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
}